<div class="login-background">

  <form class="login-form noselect" name="form" (submit) = "login()" [formGroup]="loginForm">

      <div class="login-form-logo">
        <img src="../../assets/images/logo.png" class="login-form-logo-img">
      </div>

      <div class="login-form-input-box login-form-margin">
        <div class="login-form-input-icon-div">
          <mat-icon class="login-form-input-icon-email">email</mat-icon>
        </div>
        <input class="login-form-input default-input" name="email" placeholder="Email ID" formControlName="email">
        <mat-icon class="login-form-warning-icon"
        *ngIf="!this.loginForm.controls.email.untouched">warning</mat-icon>
        <mat-icon class="login-form-warning-icon"
        *ngIf="!this.loginForm.controls.email.untouched && this.loginForm.controls.email.errors">warning</mat-icon>

      </div>

      <div class="login-form-input-box">
        <div class="login-form-input-icon-div">
          <mat-icon class="login-form-input-icon-lock">lock</mat-icon>
        </div>
        <input class="login-form-input" name="password" id="password" type="password" #password
         placeholder="Password" formControlName="password" required ng-touched>
        <mat-icon class="login-form-warning-icon" matTooltip="Required"
         *ngIf="!this.loginForm.controls.password.untouched && this.loginForm.controls.password.errors">warning</mat-icon>
      </div>

      <div class="login-form-error">
        <a>Invalid Credentials</a>
      </div>

      <div >
        <a routerLink="/register" >Don't have an account? Sign Up</a>
      </div>

      <div class="login-form-margin">
        <button mat-raised-button color="primary" type="submit" >Login</button>
      </div>

  </form>

</div>
