<div class="login-background">

  <form class="login-form noselect" name="form" (submit) = "register()">

      <div class="login-form-logo">
        <img src="../../assets/images/logo.png" class="login-form-logo-img">
      </div>

      <!-- <div>
        <a class="login-form-text">Sign Up</a>
      </div> -->


      <div class="login-form-input-box login-form-margin">
        <div class="login-form-input-icon-div">
          <mat-icon class="login-form-input-icon-email">email</mat-icon>
        </div>
        <input class="login-form-input default-input" placeholder="Enter your email ID">
      </div>



      <div class="login-form-input-box">
        <div class="login-form-input-icon-div">
          <mat-icon class="login-form-input-icon-lock">lock</mat-icon>
        </div>
        <input class="login-form-input" placeholder="Choose a password">
      </div>

      <div class="login-form-input-box login-form-margin">
        <div class="login-form-input-icon-div">
          <mat-icon class="login-form-input-icon-lock">lock</mat-icon>
        </div>
        <input class="login-form-input" placeholder="Confirm password">
      </div>

      <div>
        <button mat-button color="primary" routerLink=''>Cancel</button>
        <button mat-raised-button color="primary" type="submit">Register</button>
      </div>

  </form>

</div>
